* {
    margin: 0;
    padding: 0; 
   }

.outer{
    display: flex;
    width: 100%;
}

ul {
    list-style:none;
}

/*------------------------------*/
/* Headerのスタイル
/*------------------------------*/
.header{
    background-color: #ffb142;
}

.div-top-logo{
    height: 70px;
    margin-left: 20px;
}

.fig-site-logo{
    height: 70px;
}

.fig-header-menu{
    height: 40px;
}

.header-menu{
    align-items: center;
    text-align:center;
}

.header-menu-text{
    text-decoration: none;
    font-size: 12px;
}

.header__flex {
    display: flex;
    height:75px;
    align-items: center;
}

.header__flex nav {
    margin-left: auto;
}

.header__flex ul {
    display: flex;
}

.header__flex ul li {
    margin-left: 20px;
    margin-right: 30px;
}

.site-title{
    position: absolute;
    text-align: center;
    top: 3%;
    left: 36%;
}

h1{
    font-size: 22px;
    font-weight: bolder;
}

.site-subtitle{
    font-size: 14px;
}

.admin{
    visibility: hidden;
}

/*------------------------------*/
/* サイドメニューのスタイル
/*------------------------------*/
.side-menu{
    width: 20%;
    background-color: #dfe6e9;
    padding-left: 20px;
}

.side-menu li{
    margin-top: 10px;
}

.side-menu-filter-list{
    border-bottom: solid 1px #aaa69d;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.side-menu-title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}


/*------------------------------*/
/* メインコンテンツのスタイル
/*------------------------------*/
.main-item-list{
    display: flex;
    width: 80%;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.item-list{
    display: flex;
    flex-wrap: wrap;  
}

/*------------------------------*/
/* メインコンテンツ: 
/* 個々のアイテム・コンテナのスタイル
/*------------------------------*/

.item-container{
    margin-top:30px;
    margin-left:100px;
    margin-bottom:10px;
    align-items: center;
}

.item-contents{
    max-width: 150px;
    width: 150px;
    height: 300px;
}

.item-contents-upper{
    height: 60%;
}

.item-contents-middle{
    height: 20%;
}

.item-contents-lower{
    height: 20%;
}


.item-thub{
    height: 180px;
}

.products-text{
    text-decoration: none;
}

.item-title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-category{
    font-size: 13px;
}

.item-price{
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #e60012;
}

/*------------------------------*/
/* フッターのスタイル
/*------------------------------*/
.footer{
    background-color: #aaa69d;
    text-align: center;
    height: 30px;
    padding-top: 10px;
}

.copyrights{
    font-size: 15px;
}